<div class="container-fluid m-1">
    <div class="card shadow mb-4">
        <div *ngIf="station" class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables {{station.name}} </h6>
            <div class="example-button-row" style="float: right;">
                <button (click)="downloadPDF()" mat-raised-button color="primary">Download PDF</button>
            </div>
        </div>
        
        <div id="content" class="card-body">
            <div class="table-responsive">
                <table  id="dataTable" width="100%" cellspacing="0">
                    <tr>
                        <th>#</th>
                        <th>Rainflow (mm)</th>
                        <th>Windspeed (km/h)</th>
                        <th>Temp (<sup>o</sup>C)</th>
                        <th>Detect</th>
                        <th style="width: 200px;">Time</th>
                        <th></th>
                    </tr>
                    <tr *ngFor="let iot of iot$ | async; index as i" class="target"> 
                        <td>{{i+1}}
                        </td>                  
                        <td >
                            <p> {{iot.rainflow}}</p>
                        </td>
                        <td >
                            <p> {{iot.windspeed}}</p>
                        </td>
                        <td >
                            <p> {{iot.temp}}</p>
                        </td>
                        <td>
                            <p *ngIf='!iot.detect_content'>No</p>
                            <p *ngIf='iot.detect_content'>{{iot.detect_content}}</p>
                        </td>
                        <td>
                        <p> {{iot.time  | date:'medium' }}</p>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- <div *ngIf="popup" class="container-popup">
        <div class="blog-card edit-popup">
            <button (click)="popup = false" class="btn-close"><i class="fas fa-times"></i></button>
          <div class="inner-part" >
            <label class="img">
              <img class="img-1" src="../../../assets{{iot.filepath}}{{iot.filename}}.jpg" alt="">
            </label>
            <div class="content1">
                <div class="example-container">
                    <mat-form-field appearance="fill">
                      <mat-label>Rainflow</mat-label>
                      <input matInput placeholder="{{iot.rainflow}}">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Windspeed</mat-label>
                        <input matInput placeholder="{{iot.windspeed}}">
                      </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill">
                        <mat-label>Temperature</mat-label>
                        <input matInput placeholder="{{iot.temp}}">
                    </mat-form-field>
                </div>
            </div>
          </div>
        </div>
    </div> -->

</div>
