<!-- <div  class="container-popup">
    <div class="container mt-5 d-flex justify-content-center edit-popup">
        <div class="card-user p-3">
            <div class="d-flex align-items-center">
                <div class="image"> <img [src]="user.image" class="rounded" width="155"> </div>
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0">{{user.lastName}}</h4> <span>{{user.username}}</span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Tel</span> 
                            <span class="number1">12345678</span> 
                        </div>
                    </div>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Adress</span>
                             <span class="number1">130 Dong da</span>
                        </div>
                    </div>
                </div>
                error
            </div>
        </div>
    </div>
</div> -->
test